{% extends "learning_logs/base.html" %}


{% block page_header %}
  <h1>Edit Entry</h1>
{% endblock page_header %}

{% load django_bootstrap5 %}  {#加载bootstrap5模板标签库#}
{% load static %}  {#加载静态文件#}
{% block content %}

  

  <div class="alert alert-info" role="alert">
    <p>Editing entry for topic: <strong>{{ entry.topic.text }}</strong></p>

  <p>Edit entry:</p>

  <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post"> 
    {% csrf_token %}
    {{ form.as_div }}
    <button name="submit"  class="btn btn-primary">Save changes</button>
  </form>

{% endblock content %}